DOMAIN=chat.example.ir
SERVER_ADDRESS=chat.example.ir
PROTOCOL=https
IP_MODE=false
HTTP_PORT=80
HTTPS_PORT=443
REGISTRATION_SHARED_SECRET=replace-me
TURN_SECRET=replace-me
LETSENCRYPT_EMAIL=admin@example.ir
CONDUIT_IMAGE=docker.io/matrixconduit/matrix-conduit:latest
COTURN_IMAGE=coturn/coturn:latest
ELEMENT_IMAGE=ghcr.io/schildichat/schildichat-web:latest
CADDY_IMAGE=caddy:2-alpine
